<% if @results.blank? %>
	<div style="color: red" id="no_results">
		<p></p><b>There are no records that match your query.</b>
  	</div>
<% else %>
  <b>Only <%= @limit %> records shown. Save the query to download complete CSV, GeoRSS, or to view maps. </b>
  <table border="1" cellpadding="0" cellspacing="0">
    <thead>
      <tr>
        <% @query_builder.select_field_aliases.each do |select_field_alias| %>
          <th><%= select_field_alias.titleize_with_id %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @results.each do |result| %>
        <tr>
          <% @query_builder.select_field_aliases.each do |select_field_alias| %>
            <td><%= (r = result[select_field_alias]).blank? ? "&nbsp;-&nbsp;" : r %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p></p>
<% end %>

<h2>SQL</h2>
<pre>
<%= @sql %>
</pre>
