<% record = list_record if list_record # compat with render :partial :collection %>

<% cb_content :ajax_link_columns do |column| %>
  <%= (value=record.send(column.name)) ? link_to_modal(value, {:controller => "/microsatellites", :action => "list", :sample_id => record.sample_id, :locus => column.name.to_s[0..-2], :page => 1 }) : " - "%>
<% end %>

<%= render :partial => 'layouts/split_list_record', :locals => { :hidden => hidden, :section => section, :record => record, :columns => 4 } %>
