.DS_Store
/RAILS_ENV
/db/development_structure.sql
/public/download
/public/images/active_scaffold/DO_NOT_EDIT
/public/javascripts/active_scaffold/DO_NOT_EDIT
/public/javascripts/cache
/public/stylesheets/active_scaffold/DO_NOT_EDIT
/public/stylesheets/cache
/scratchpad.rb
tmp
.gitignore