#modal_container {  
    padding:5px;  
    background-color:#fff;  
    border:1px solid #666;  
    overflow:auto;  
    font-family:"Lucida Grande",Verdana;  
    font-size:12px;  
    color:#333;  
    text-align:left;  
} 
 
#modal_overlay {  
    background-color:#000;  
}