<% form_for(:query, :url => {:action => "create" }) do |f| %>
  <fieldset>
    <legend>New Query</legend>
    <p>
      Please type a name for your new query:
      <%= f.text_field :name %>
    </p>
    
    <%= submit_tag "create" %>
  </fieldset>
<% end %>