<div class="footer_box" id="zoop_footer">
  <center>
    <h3>NRDPFC DNA</h3>
    <%= render :partial => '/common/footer_menu' %>
  </center>
  <div>
    <b>
      <%= "<br/>Current Project: #{current_project.nil? ? 'N/A' : current_project.name}" %>
      <%= "<br>#{current_user.login} is logged in #{link_to '  Logout?', '/account/logout'}" if logged_in? %>
    </b>
  </div>
</div>