<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<title><%= @title || ENV["RAILS_SITE"]  + " " + params[:controller].to_s.titleize%></title>

  <%# bundle do %>
    <%= javascript_include_tag :defaults, "control.modal.js" %>
	<% if ENV['RAILS_SITE'] == 'TRACKER' %>
  		<%= stylesheet_link_tag "demo" %>
	<%else%>
  		<%= stylesheet_link_tag "basic" %>
	<%end%>	
	<%= active_scaffold_includes %>
    <%= record_select_includes %>

	<!--[if IE]>
    <%= stylesheet_link_tag "ie6" %>
	<![endif]-->

</head>

<body>
  <div id="header">
    <div id="header_contents">
	  	<div style="background-color:#fff; float:left;" ">
<!---	  	<div style="background-color:#fff; float:left;" id="header_image_frame"> -->
    	<!---    <%= image_tag "mooselogo.jpg"%>  --->
	  	</div>
      
      <div style="float:right; text-align:right;">
	  	<% if current_user %>
    	    <%= render :partial => 'layouts/logged_in_info' %>
				<%if current_project%>
					<p> Current Project: <%= current_project.to_label %>		  
				<%end%>
				<%if current_user.is_project_manager? %>
					</br> (Project Manager)  
				<%end%>
				<%if current_user.is_admin? %>
					</br> (Administrator) 
				<%end%>
		<%end%>
	  </div>
      <h2>
	  <%if ENV['RAILS_ENV']=='production' %>
       		<%=ENV['RAILS_SITE']%> PRODUCTION
	  <%else%>
	  		<%if ENV['RAILS_ENV']=='staging' %>
				<%=ENV['RAILS_SITE']%> STAGING
			<%else%>
	  			<%if ENV['RAILS_ENV']=='development' %>
					<%=ENV['RAILS_SITE']%> DEVELOPMENT
				<%else%>
				    <%=ENV['RAILS_SITE']%> UNKNOWN
				<%end%>
			<%end%>
	  <%end%>
	  </h2>
      <br clear="both" >
    </div>
      
  </div>
  <script>
    Rico.Corner.round($('header_image_frame'), {bgColor: '#962332'})
    Rico.Corner.round($('header'));
  </script>
  <p style="color: green"><%= flash[:notice] %></p>
  <%= yield :before_content %>
  <%= yield :header %>

  <%= yield :tabs %>
  <div id="page" class="<%=@using_tabs ? 'with_tabs' : '' %>">
    <br style="line-height:1px;" /><!-- this forces the background color to be rendered all the way to the top if the next element has a margin property set -->
    <%= yield :sub_tabs %>
    <%= yield %>
  </div>
  <%= yield :footer %>
</body>
</html>
